.eapsterEgg {
    margin: 50px;
    justify-content: center;
    height: 50vmin;
    pointer-events: none;
}

.container {
    margin-top: 30px;

}


@media (prefers-reduced-motion: no-preference) {
    .easterEgg {
        animation: easterEgg-spin infinite 1s linear;
    }
}

@keyframes easterEgg-spin {
    0% {-webkit-transform:rotate(4deg);}
    50% {-webkit-transform:rotate(-4deg);}
    100% {-webkit-transform:rotate(4deg);}
}
