.taskContainer {
    margin: 20px
}

.rainbowText {
    background-image: linear-gradient(to left,  lightblue, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.answerLabel {
    margin-top: 20px;
}

.nextButton {
    margin-top: 10px;
}