.header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.layout {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 1vmin);
    color: white;

}

.container {
    padding-top: 20px;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.rainbowText {
    background-image: linear-gradient(to left,  green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}