.header {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.headerContent {
 display: flex;
    flex-wrap: wrap;
}

.headerItem {
  padding: 10px 15px 0 15px;

}

.layout {
    background-image: url(../../assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: calc(10px + 1vmin);

}

.container {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    font-size: calc(10px + 1vmin);
}



.rainbow {
    text-align: center;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
    background: linear-gradient(to right, #ECC000, #62B7BE , #00ff00);
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    animation: rainbow_animation 10s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0% {
        -webkit-transform:rotate(2deg);
        background-position: 0 0;
    }
    50% {
        -webkit-transform:rotate(-2deg);
        background-position: 100% 0;
    }
    100% {
        -webkit-transform:rotate(2deg);
        background-position: 0 0;
    }
}

.footer {
    font-size: 12px;
    text-align: center;
    color: white;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}